<main class="side-main">
    <!--================ Hero sm Banner start =================-->      
    <section class="hero-banner mb-30px">
      <div class="container">
        <div class="row">
          <div class="col-lg-7">
            <div class="hero-banner__img">
              <img class="img-fluid" src="../../assets/logo.svg" alt="">
            </div>
          </div>
          <div style="margin-top: 4.5rem;" class="col-lg-5 pt-5">
            <div class="hero-banner__content">
              <h1>Private Identity</h1>
              <h5 style="color:white;">An identity management system with focus on privacy protection.</h5><h5 class="mb-4" style="color:white;"> PrIde provides a software ecosystem for private, secure, and powerful identity.</h5>
              <a class="button bg mt-2" routerLink="/login" >Login</a>
            </div>
          </div>
        </div>
      </div>
    </section>
    <!--================ Hero sm Banner end =================-->

     <!--================ Offer section start =================-->      
     <section class="section-padding--small bg-magnolia">
        <div class="container">
          <div class="section-intro pb-85px text-center">
            <h2 class="section-intro__title">Features</h2>
            <p class="section-intro__subtitle">Here are some of the features that are offered by PrIde.</p>
          </div>
  
          <div class="row">
            <div class="col-lg-6">
  
              <div class="row offer-single-wrapper">
                <div class="col-lg-6 offer-single">
                  <div class="card offer-single__content text-center">
                    <span class="offer-single__icon">
                      <i class="ti-check"></i>
                    </span>
                    <h4>Identity Verification</h4>
                    <p>Credentials can be issued and validated on the blockchain.</p>
                  </div>
                </div>
                
                <div class="col-lg-6 offer-single">
                  <div class="card offer-single__content text-center">
                    <span class="offer-single__icon">
                      <i class="ti-lock"></i>
                    </span>
                    <h4>Data Integrity</h4>
                    <p>Integrity and Authenticity of credentials is maintained by the blockchain.</p>
                  </div>
                </div>
              </div>
  
              <div class="row offer-single-wrapper">
                <div class="col-lg-6 offer-single">
                  <div class="card offer-single__content text-center">
                    <span class="offer-single__icon">
                      <i class="ti-settings"></i>
                    </span>
                    <h4>Self Sovereign Identity</h4>
                    <p>User has complete control over the data to be shared with third parties.</p>
                  </div>
                </div>
                
                <div class="col-lg-6 offer-single">
                  <div class="card offer-single__content text-center">
                    <span class="offer-single__icon">
                      <i class="ti-align-center"></i>
                    </span>
                    <h4>Zero-knowledge Proof</h4>
                    <p>Prove required identity information without revealing any other information.</p>
                  </div>
                </div>
              </div>
  
            </div>
            <div class="col-lg-6">
              <div class="offer-single__img" style="margin-top:5rem">
                <img class="img-fluid" src="../../assets/img/id-blockchain.png" alt="">
              </div>
            </div>
          </div>
        </div>
      </section>
    <!--================ Feature section end =================-->      

  <!-- ================ start footer Area ================= -->
  <footer class="footer-area section-gap">
		<div class="container">
			<div class="footer-bottom row align-items-center text-center text-lg-left">
				<p class="footer-text m-0 col-lg-8 col-md-12"><!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
Copyright &copy;<script>document.write(new Date().getFullYear());</script> All rights reserved | CMPE 272 Project Group 8.
<!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. --></p>
			</div>
		</div>
	</footer>
  <!-- ================ End footer Area ================= -->