.new-schema-container {
	padding: 24px;

	.chip {
		margin-bottom: 24px;

		.close-icon {
			margin-left: 8px;
			cursor: pointer;
		}
	}

	.attribute-button {
		margin-left: 8px;
	}

	.proof-input {
		width: 600px;
	}
}

.block-form-el {
	display: block;
}

.error-text {
	color: red;
	position: relative;
	bottom: 24px;
	font-size: 12px;
}